# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/

# .idea files and 
/dataSources/
/dataSources.local.xml
codestream.xml
dataSources.local.xml
dataSources.xml
jsLibraryMappings.xml
modules.xml
sqldialects.xml
vcs.xml
workspace.xml

# Node files
/node_modules/

# config files
config.json
config-*.json